.ProfileCardList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  max-width: 1120px;
  padding: 1rem;
  background-color: #daad86;
  border-radius: 20px;
  justify-content: center;
  box-shadow: 10px 10px 20px;

}

.ProfileCard {
  border-radius: 10px;
  flex: 1 0 320px;
  margin: 8px;
  padding: 8px;
  background-color: white;
  box-shadow: 5px 5px 10px;
  max-width: 15%;
}

.ProfileCard img {
  height: auto;
  width: 100%;
}

.Info {
  
  justify-content: center;
}
p {
  text-align: center;
}
img {
  align-content: center;
  border-radius: 10px;
}

.Email {
  font-size: 11px;
}